body {
    background-color: lightslategray;
    display: flex;
    
}



li {
    float: left;
    list-style-type: none;
    width: 50vh;
    border: 2px solid red;
    margin: 30px;
    box-shadow: 5px 5px 5px 2px lightcyan;
    justify-content: space-between;
    
}

li:hover{
    background-color: lightsteelblue;
    
}

img {
    justify-items: right;
    border: 2px solid red;
}